body {
  margin: 0;
/*  background-color: #000;*/
}
h1 {
  text-align: center;
  font-size: 50px;
}

.game {


}
#board {
 /* background-image: url("stardust.png");*/
  /*background-color: black;*/
  /*width: 600px;
  height: 600px;*/
  background-size:contain;
  
  /*background-position:center;*/
  
}
#square1 {
  float: left;
  position: relative;
  width: 30%;
  padding-bottom: 30%;
  background-color: black;
  margin:1.66%;
  overflow:hidden;
}
#square2 {
  float: left;
  position: relative;
  width: 30%;
  padding-bottom: 30%;
  background-color: black;
  margin:1.66%;
  overflow:hidden;
}
#square3 {
  float: left;
  position: relative;
  width: 30%;
  padding-bottom: 30%;
  background-color: black;
  margin:1.66%;
  overflow:hidden;
}
#square4 {
  float: left;
  position: relative;
  width: 30%;
  padding-bottom: 30%;
  background-color: black;
  margin:1.66%;
  overflow:hidden;
}
#square5 {
  float: left;
  position: relative;
  width: 30%;
  padding-bottom: 30%;
  background-color: black;
  margin:1.66%;
  overflow:hidden;
}
#square6 {
  float: left;
  position: relative;
  width: 30%;
  padding-bottom: 30%;
  background-color: black;
  margin:1.66%;
  overflow:hidden;
}
#square7 {
  float: left;
  position: relative;
  width: 30%;
  padding-bottom: 30%;
  background-color: black;
  margin:1.66%;
  overflow:hidden;
}
#square8 {
  float: left;
  position: relative;
  width: 30%;
  padding-bottom: 30%;
  background-color: black;
  margin:1.66%;
  overflow:hidden;
}
#square9 {
  float: left;
  position: relative;
  width: 30%;
  padding-bottom: 30%;
  background-color: black;
  margin:1.66%;
  overflow:hidden;
}

.pMove {
  position:absolute;
  height:90%; /* = 100% - 2*5% padding */
  width:90%; /* = 100% - 2*5% padding */
  padding: 10% 5%
  
}

.table{
    display:table;
    height:100%;
    width:100%;
}
#cell1{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
    color: white;
    text-align: center;
    font-size: 100px;
    font-style: 
}
#cell2{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
    color: white;
    text-align: center;
    font-size: 100px;
    font-style: 
}
#cell3{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
    color: white;
    text-align: center;
    font-size: 100px;
    font-style: 
}
#cell4{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
    color: white;
    text-align: center;
    font-size: 100px;
    font-style: 
}
#cell5{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
    color: white;
    text-align: center;
    font-size: 100px;
    font-style: 
}
#cell6{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
    color: white;
    text-align: center;
    font-size: 100px;
    font-style: 
}
#cell7{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
    color: white;
    text-align: center;
    font-size: 100px;
    font-style: 
}
#cell8{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
    color: white;
    text-align: center;
    font-size: 100px;
    font-style: 
}
#cell9{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
    color: white;
    text-align: center;
    font-size: 100px;
    font-style: 
}

button {
  float: right;
  margin-right: 575px;
  margin-bottom: 200px;
  display: inline-block;
  font-size: 20px;
}







